.modal-popup{
    width: 160px;
    height: 100px;
    background-color: #fff;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    border: 1px solid #000;
    box-shadow: 0px 0px 3px gray;
}

.modal-button{
    width: 40px;
    height: 25px;
    border-radius: 15%;
    cursor: pointer;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}