
/*не уверен что правильно, но 
пока пусть так body будет*/
.body {
  height: 300px;
  width: 300px;
}

button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 20px;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }